body {
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 35px;
	background-image: url('background.jpg');
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;

	
}


h1 {
	font-size: 66px;
	font-weight: bold;
	margin-bottom: -15px;
}

h2 {
	font-size: 34px;
	font-family: "Arial Black", Gadget, sans-serif;
	border-bottom-width: 2px;
	border-bottom-style: outset;
	border-bottom-color: maroon;
}

h3 {
	font-size: 24px;
}

h5 {
	font-style: italic;
	color: maroon;
	font-size: 16px;
	margin-bottom: -12px;
	
}


li{
	list-style: square;
	line-height: 25px;
}

.contactInfo {

	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 10px;
	color: maroon;

}
